#Archivos Ejecutables
*.exe
*.out

#Carpeta(s) de Binarios y Salida
bin/

#Archivos objeto
*.o
*.obj

#Archivo Temporales
*.log
*.tmp
*.swp
*.g*h

#VS code
.vscode/

#Archivos del sistema
.DS_store
Thumbs.db

